<%- include("partials/header") %>

<div class = "container">
    <h1>Search A Movie Here</h1>

    <form type="text" method= "GET" action ="results" >
        <input type="text" placeholder ="search movie" name="search">
        <input type="submit" class="btn btn-primary">
    </form>

</div>

<%- include("partials/footer") %>